*, *:before, *:after {
    box-sizing: border-box;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.header {
    width: 334px;
    height: 79px;
    font-size: 80px;
}
.header a {
    text-decoration: none;
    color: #5599f5;
}
.ra-color {
    font-size: 80px;
    color: #000000;
}
.header-menu {
    background: #35444F;
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
}
.header-menu-items {
    padding: 26px 30px 19px;
    border-left: 1px solid white;
    color: aliceblue;
    font-size: 24px;
    text-decoration: none;
}
.header-menu-items:hover {
    background-color: #222F3A;
}
.main-content {
    padding-inline-start: 0px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.first-block-menu {
    display: inline-block;
    width: 344px;
    border: 1px solid black;
    list-style: none;
    padding-inline-start: 0px;
    margin: 0px;
}
.main-menu-items{
    text-decoration: none;
    color: black;
    padding: 26px 0 26px 42px;
    font-size: 27px;
    font-weight: 300;
}
.main-menu-items:hover {
    background-color: #DBDBDB;
    font-weight: 600;
    padding: 26px 0 26px 80px;
}
.second-block {
    width: 885px;
}
.main-image-center {
    height: 529px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    display: block;
    width: 320px;
    height: 381px;
}
.image:hover {
    transition: 0.5s ease;
    width: 369px;
    height: 460px;
}
.footer {
    margin-top: 54px;
    margin-bottom: 30px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background: rgba(99, 105, 110, 0.48);

}
.footer-menu {
    list-style: none;
    }
.footer-menu-items {
    color: black;
    padding: 15px 20px;
    font-size: 28px;
    display: inline;
}
.footer-menu-items:hover {
    text-decoration: underline;
    color: #748aff;
}
.copyright {
    text-align: right;
    font-size: 24px;

}
