.page__fork{
  padding-top: 83px;
  padding-bottom: 97px;
  background: url("../../dist/img/here-is-what/fork-background.png");
  background-size: cover;
  color: #FFFFFF;
  font-weight: 400;
  text-align: center;
  overflow: hidden;
}
.fork__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 61px;
  @media (max-width: 993px) {
    margin-bottom: 39px;
    font-size: 42px ;
  }
  @media (max-width: 481px) {
    margin-bottom: 32px;
    font-size: 28px;
  }

}
.fork-content-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 257px 257px 299px 257px;
  grid-gap: 15px;
  @media (max-width: 993px) {
    grid-template-columns: 299px 257px;
    grid-gap: 25px;
  }
  @media (max-width: 481px) {
    grid-template-columns: 299px;
    grid-gap: 18px;
  }

}
.fork-item {
  text-align: center;
  width: 257px;
  @media (max-width: 993px) {
    justify-self: end;
  }
  @media (max-width: 481px) {
  justify-self: center;
}
  &__title {
    @include fork-item-title(36px, 12px, #6a5c6c);
  }
}
.symbol-dollar {
  font-weight: 400;
}
.fork-block {
  @include fork-item-content-block(30px, #6D586A, 360px);

  &__price {
    @include forkItemPrice(60px);
  }
  &__price-time {
    @include forkItem-priceTime (20px);
  }
  &__description {
    @include forkDescript (73px);
  }
  &__description::before {
    @include forkLine;
  }
  &__button {
    @include forkButton(37px, 15px, 15px, 37px, #746A77, 30px);
    left: calc(50% - (163px / 2));
  }
}
.special {
  width: 299px;
  height: 560px;
  @media (max-width: 993px) {
   justify-self: self-start;
  }
  &__title {
    @include fork-item-title (43px, 15px, #3f2d42);
  }
}
.special-block {
  @include fork-item-content-block(14px, #49344A, 449px);
  &__price {
    @include forkItemPrice(82px);
  }
  &__price-time {
    @include forkItem-priceTime (16px);
  }
  &__description {
    @include forkDescript (91px);
  }
  &__description::before {
    @include forkLine;
  }
  &__button {
    @include forkButton(47px, 16px, 18px, 48px, #635165, 35px);
    left: calc(50% - (190px / 2));
  }
}


