*,
*::after,
*::before {
	box-sizing: border-box;

}

.page__body {
	min-width: 340px;
	font-family: "Montserrat", sans-serif;

}

.container {
	padding-left: 10px;
	padding-right: 10px;
	min-width: 340px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

//.container {
//	padding-left: 10px;
//	padding-right: 10px;
//	width: 1200px;
//	margin-left: auto;
//	margin-right: auto;
//	@media (max-width: 993px) {
//		width: 768px;
//	}
//	@media (max-width: 481px) {
//		width: 320px;
//	}
//}