.here-is-what-you-get {
  position: relative;
  background-color: #F4F4F4;
  padding-top: 100px;
  padding-bottom: 72px;
  @media (max-width: 992px) {
    background-color: #FFFFFF;
    padding-top: 62px;
  }
}
.wrapper {
  display: flex;
  justify-content: space-around;
  @media (max-width: 992px) {
        display: block;
  }
}
.services__title {
  order: 1;
  text-align: center;
  color: #8D81AC;
  font-weight: 700;
  font-size: 48px;
  @media (max-width: 992px) {
    font-size: 42px;
    margin-bottom: 50px;
  }
  @media (max-width: 480px) {
    font-size: 32px;
    margin-bottom: 36px;
  }
}
.block-content-parent {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 20px;
  margin-bottom: 45px;
  @media (max-width: 992px) {
    grid-template-columns: 111px auto;
    grid-column-gap: 20px;
  }
  @media (max-width: 480px) {
    text-align: center;
    display: block;
  }
}
.content-block {
  max-width: 400px;
  @media (max-width: 992px) {
    max-width: 100%;
  }
  &__title {
    color: #323232;
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    @media (max-width: 480px) {
      margin-top: 27px;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 21px;
    color: #848E97;
  }

}
.here__image {
  width: 45vw;
  height: auto;
  max-height: 570px;
  max-width: 700px;
  object-fit: fill;
  @media (max-width: 480px) {
    text-align: right;
  }
  @media (max-width: 992px) {
    width: 90vw;
  }
}

.services__picture {
  position: absolute;
  right: 0;
  bottom: 100px;
  @media (max-width: 992px) {
    display: block;
    position: static;
    text-align: right;

  }

}