.white-header {
    background: #9a9a95;
}
#theme {
    background-color: crimson;
}
.btn-red {
    background-color: #9a375f;
}
.green {
    background-color: #b09134;
}
.blue {
    background-color: #ff6d66;
}
.most-hot-post {
    background-color: #434243;
}
.sub_title {
    color: crimson;
}
