<section class="here-is-what-you-get">
    <div class="wrapper container">
        <h2 class="services__title">
            &#60;Here is what you get&#62;
        </h2>
        <ul class="services">
            <li class="block-content-parent">
                <img src="../../dist/img/here-is-what/icon1.png" height="64" width="111"/>
                <div class="content-block">
                    <h3 class="content-block__title">Creatred to Make The Web Better</h3>
                    <p class="content-block__text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
                </div>
            </li>
            <li class="block-content-parent">
                <img src="../../dist/img/here-is-what/icon2.png" height="80" width="90"/>
                <div class="content-block">
                    <h3 class="content-block__title">Incredibly Powerful Tool</h3>
                    <p class="content-block__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                </div>
            </li>
            <li class="block-content-parent">
                <img src="../../dist/img/here-is-what/icon3.png" height="84" width="60"/>
                <div class="content-block">
                    <h3 class="content-block__title">Experimental Stuff</h3>
                    <p class="content-block__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                </div>
            </li>
            <li class="block-content-parent">
                <img src="../../dist/img/here-is-what/icon4.png" height="71" width="71"/>
                <div class="content-block">
                    <h3 class="content-block__title">Creatred to Make The Web Better</h3>
                    <p class="content-block__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                </div>
            </li>
        </ul>

    </div>
    <div class="services__picture">
<!--        <source media="(max-width: 480px)"-->
<!--                srcset="../../dist/img/here-is-what/editor3.png" />-->
<!--        <source media="(max-width: 992px)"-->
<!--                srcset="../../dist/img/here-is-what/editor2.png"/>-->
        <img class="here__image" srcset="../../dist/img/here-is-what/editor2.png"/>

    </div>

</section>
