.page-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../image/star-wars-backgrounds.jpg");
}
.star-wars-parent {
    width: 40%;
    height: 65%;
    margin: 0 30%;
    transform: perspective(350px) rotateX(35deg);
    position: absolute;
}
.star-wars-slide {
    position: absolute;
    top: 100%;
    animation: star-wars 30s linear  infinite;
}
.star-wars-text {
    text-align: center;
    color: #ffb80f;
    font-size: 50px;
}
@keyframes star-wars {
    0% {
        top:100%;
    }
    85%{
        opacity: 1;
    }
    100% {
        top: -150%;
        opacity: 0;
    }
}