.container {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    text-align: center;
}
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}
.menu-item {
    text-transform: uppercase;
    font-size: 18px;
    font-family: sans-serif;
    color: #ff0000;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 72px;
    }
.menu-item-link {
    text-decoration: none;
    color: #ff0000;
}
.image {
    width: 100%;
}
.header-title {
    padding : 48px 0 38px;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.description {
    font-size: 22px;
    padding: 0px 62px;
    }
.button {
    margin-top: 66px;
    padding: 17px 42px 18px 42px;
    background-color: #FF0000;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.8px;
}
.footer {
    margin: 62px auto 30px;
    width: 1280px;
    text-align: right;
}
.copyright {
    padding-right: 42px;
    letter-spacing: 2px;
    color: #373737;
    font-weight: bold;
    font-size: 22px;
}
