.page-body {
    background-image: url("../img/background-body/space-911785_1920.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.image-to-show {
    position: absolute;
    width: 800px;
    height: 700px;
    opacity: 0;

}

.images-wrapper {
    margin: 75px auto;
    width: 800px;
    height: 700px;
    position: relative;
}
.current-img {
    border: 10px solid #223f5b;
    border-radius: 30px;
    opacity: 1;
    transition: all ease 1.2s;
}

.btn-parent {
    display: flex;
    justify-content : space-between;
    margin-bottom: 75px;
}

.btn {
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
    background-color: #896815;
    border: 10px solid #223f5b;
    padding: 23px;
    margin-right: 200px;
    margin-left: 200px;
}
